/* Installing animated icon variables
   ========================================================================== */
$sb-gray-900: #686565; //rgb(104, 101, 101);
$icon-installing-bg: $sb-gray-900;
// 18px
$icon-size-18: md-18;
$icon-installing-block-18: 4px;
$icon-installing-margin-18: 7px;
$icon-installing-padding-18: 6px;
$icon-installing-padding-negative-18: -6px;
// 24px
$icon-installing-block: 6px;
$icon-installing-margin: 9px;
$icon-installing-padding: 8px;
$icon-installing-padding-negative: -8px;
// 36px
$icon-size-36: md-36;
$icon-installing-block-36: 9px;
$icon-installing-margin-36: 13px;
$icon-installing-padding-36: 12px;
$icon-installing-padding-negative-36: -12px;
// 48px
$icon-size-48: md-48;
$icon-installing-block-48: 12px;
$icon-installing-margin-48: 18px;
$icon-installing-padding-48: 16px;
$icon-installing-padding-negative-48: -16px;
